<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Kryptonite</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>app-icon-url</string>
				<string>file-url-icon</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>KR</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>co.krypt.kryptonite.kr</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>file-url-icon</string>
			<key>CFBundleURLName</key>
			<string>kr-url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kr</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>278</string>
	<key>GitHash</key>
	<string>23588c10c16dc23c3f6bb18fcd02c8ae9cffc7b5</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Kryptonite uses bluetooth to communicate to paired devices.</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan QR codes to pair and record peer's public keys.</string>
	<key>NSContactsUsageDescription</key>
	<string>Your contact list is used to choose people to send public keys to. We will never send your contacts anywhere.</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceCodePro-Regular</string>
		<string>SourceCodePro-Bold</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>bluetooth-central</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>kryptonite SSH Public Key</string>
			<key>UTTypeIdentifier</key>
			<string>co.krypt.kryptonite.kr</string>
			<key>UTTypeReferenceURL</key>
			<string>http://krypt.co/krext</string>
			<key>UTTypeSize320IconFile</key>
			<string>file-url-icon</string>
			<key>UTTypeSize64IconFile</key>
			<string>file-url-icon</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>kr</string>
					<string>KR</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
