[submodule "swift-sodium"]
	path = swift-sodium
	url  = https://github.com/kryptco/swift-sodium
[submodule "AwesomeCache"]
	path = AwesomeCache
	url = git@github.com:KryptCo/AwesomeCache.git
[submodule "SwiftHTTP"]
	path = SwiftHTTP
	url = git@github.com:KryptCo/SwiftHTTP.git
[submodule "JSON"]
	path = JSON
	url = git@github.com:KryptCo/JSON.git
[submodule "ssh-wire"]
	path = ssh-wire
	url = git@github.com:kryptco/ssh-wire
[submodule "aws-sdk-ios"]
	path = aws-sdk-ios
	url = git@github.com:aws/aws-sdk-ios.git
